*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background-color: white;
}

header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 174, 255);
    color: black;
}

main{
    width: 100vw;
    height: 535px;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px 500px;
}

.form input{
    margin: 5px;
    padding: 5px;
}

.res{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px 60px;
}
.form .botao{
    width: 120px;
    height: 35px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: rgb(54, 54, 194);
    cursor: pointer;
}

.form .botao:hover{
    width: 120px;
    height: 35px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: rgb(109, 109, 247);
    cursor: pointer;
}

.insert{
    display: flex;
    flex-direction: row;
}